.ls {
  background: #001030;
  color: white;
  height: 75vh;
  max-width: fit-content;
}

.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.ls-nav .logo {
  max-width: 140px;
  font-weight: bold;
}

.ls-nav .menu img {
  max-width: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.ls-search {
  display: flex;
  align-items: center;
  background-color: #002670;
  padding: 10px 12px;
  gap: 10px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
}

.ls-search input::placeholder {
  color: white;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 70%;
  overflow-y: scroll;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 13px;
}

.friends img {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends div span {
  font-size: 11px;
  color: white;
  opacity: 0.5;
}

.friends:hover {
  background-color: #002670;
}

.friends:hover span {
  color: white;
  opacity: 1;
}

.ls-nav .menu {
  position: relative;
  padding: 10px;
}
.menu .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;

  color: black;
  display: none;
}

.menu:hover .sub-menu {
  display: block;
}

.sub-menu hr {
  border: none;
  background-color: #a4a4a4;
  height: 1px;
  margin: 8px 0px;
}

.sub-menu p {
  font-size: 13px;
  padding: 5px 0px;
  cursor: pointer;
  color: black;
}

.sub-menu p:nth-child(3) {
  color: red;
 }
