.ls {
  background: #001030;
  color: white;
  height: 75vh;
}

.ls-top {
  padding: 20px;
}

.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 140px;
  font-weight: bold;
}

.ls-nav .menu img {
  max-width: 20px;
  opacity: 0.6;
  cursor: pointer;
}
