.chat-box {
  width: 75vh;
  position: relative;
  background-color: #f1f5f1;
  max-height: 75vh;
}

.chat-user {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 1px solid #c6c6c6;
}

.chat-user img {
  width: 25px;
  border-radius: 50%;
}

.chat-user img:first-child {
  width: 35px;
  aspect-ratio: 1/1;
}

.chat-user p {
  flex: 1;
  font-weight: 500;
  font-size: 20px;
  color: #393939;
  display: flex;
  align-items: center;
  gap: 5px;
}

img.dot {
  width: 15px !important;
}

.chat-input {
  display: flex;
  align-items: center;
  position: absolute;

  background: white;
  gap: 12px;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input img {
  width: 30px;
  cursor: pointer;
}

.chat-input label {
  display: flex;
}

.chat-input label img {
  width: 22px;
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
}

.chat-msg {
  height: calc(100% - 70px);
  padding-bottom: 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.r-msg div img,
.s-msg div img {
  width: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.r-msg,
.s-msg {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.r-msg {
  flex-direction: row-reverse;
  justify-content: start;
  margin-left: 0.5rem;
}

.s-msg {
  margin-right: 0.5rem;
}

.msg {
  color: white;
  background-color: #596aff;
  padding: 8px;
  max-width: 200px;
  font-size: 11px;
  font-weight: 300;
  border-radius: 8px 8px 0px 8px;
  margin-bottom: 30px;
}

.r-msg .msg {
  border-radius: 8px 8px 8px 0px;
}

.s-msg .msg {
  border-radius: 8px 8px 0px 8px;
}

.s-msg,
.r-msg {
  text-align: center;
  font-size: 9px;
}

.msg-img {
  max-width: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
}
